<%- include("./partials/header") -%>
<h1>Contact</h1>
<p><%=ejsObject2Receive.homeStartingContent%></p>

<%- include("./partials/footer") -%>
<%# The partials are using the relative path from the file that using that partial%>
