<%- include("./partials/header") -%>
<h1><%=ejsObject2Receive.title%></h1>
<p><%=ejsObject2Receive.body%></p>

<%- include("./partials/footer") -%>
<%# The partials are using the relative path from the file that using that partial%>
